/* main Color #405162 */


.fixed,
#sidebar-wrapper,
.banner-overlay,
#footer,
.contact-submit:hover,
.btn-custom {
    background-color: #405162;
}

#bigfeatures i,
.feature-box i,
.feature-list li i,
.gallery-nav,
.contact-submit {
    color: #405162;
}

.btn-custom,
.mailchimp input[type="email"],
.contact-submit,
#contactForm input:active,
#contactForm textarea:active,
#contactForm input:hover,
#contactForm textarea:hover {
    border-color: #405162;
}

.back-to-top {
    background: #dadada;
    border-color: #ccc;
}

.back-to-top:hover {
    background: gray;
    border-color: #888;
}



.bg-color-grad{
    background: #33495F; /* Old browsers */
    background: -moz-linear-gradient(top,  #33495F 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33495F), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33495F 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33495F 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33495F 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #33495F 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33495F', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}