/*
    Theme Name:L U C Y
    Theme URI:
    Author: ThemeWagonAuthor
    URI: http://themewagon.com/
    Description: One page app landing HTML 5 CSS 3 template powered by Bootstrap 3.Version:1.0.1
*/

/***

Table of Contents:
-----------------------------------------------------------------------------*
    01 - General
    02 - Side Menu
    03 - Preloader
    04 - Header
    05 - Banner
    06 - Video Preview
    07 - Features
    08 - Speciality
    09 - Image-Content Blocks
    10 - Screenshots
    11 - Developers
    12 - Testimonial
    13 - Pricing table
    14 - Subscribe Form
    15 - Contact us
    16 - Footer Section
    17 - Responsive Styles
-----------------------------------------------------------------------------*


/* /////////////////////////////////////////////////////////////////////
// 01 - General
/////////////////////////////////////////////////////////////////////*/

* {
    outline:0 !important
}
body {
    font-family:'Roboto',Calibri,Arial,sans-serif;
    font-size:16px;
    font-weight:300;
    color:#777;
    line-height:28px;
}
h1,h2,h3 {
    text-transform:uppercase;
    color:#444;
    font-weight:300;
}
h3 {
    line-height:1.2;
}
a {
    text-decoration:none;
    transition:all 0.3s ease-out;
    position:relative;
    padding:.5em;
    margin:-.5em;
}
a:hover,a:active,a:focus {
    color:#405162;
    text-decoration:none;
}
ul {
    margin:0;
    padding:0px;
    list-style:none;
}
.img_res {
    display:block;
    width:100%;
    height:auto;
    max-width:100%;
}
.block-title {
    font-weight:300;
    font-family:'Roboto Condensed',sans-serif;
    font-size:3em;
    padding:0 40px;
    margin:0;
    line-height:1.6;
    display:inline-block;
    position:relative;
    text-transform:uppercase;
}
.block-title.title-light,.block-title.title-light span {
    color:#fff;
}
.block {
    padding:80px 0;
    overflow:hidden;
    position:relative;
}
.title-box {
    text-align:center;
    margin-bottom:80px;
}
.title-box.text-left {
    text-align:left;
}
.bb-top-left {
    position:absolute;
    width:15px;
    height:15px;
    top:0;
    left:0;
    border-top:1px solid;
    border-left:1px solid;
}
span.bb-bottom-left {
    position:absolute;
    width:15px;
    height:15px;
    bottom:0;
    left:0;
    border-bottom:1px solid;
    border-left:1px solid;
}
span.bb-top-right {
    position:absolute;
    width:15px;
    height:15px;
    top:0;
    right:0;
    border-top:1px solid;
    border-right:1px solid;
}
span.bb-bottom-right {
    position:absolute;
    width:15px;
    height:15px;
    bottom:0;
    right:0;
    border-bottom:1px solid;
    border-right:1px solid;
}
.btn-store {
    color:#000;
    font-size:26px;
    padding:0px 36px 10px 0px;
    margin:0px 0px 20px 0px;
    transition:0.4s ease all;
    border-radius:100px;
    background:white;
    text-align:left;
    font-weight:400;
    line-height:22px;
}
.btn-store span {
    font-weight:300;
    font-size: 14px;
}

b, strong {
    font-weight: 400;
}

.col-md-offset-1point5{
    margin-left: 12.5%;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
}


/* /////////////////////////////////////////////////////////////////////
// 02 - Side Menu
/////////////////////////////////////////////////////////////////////*/

#sidebar-wrapper {
    z-index:1000;
    position:fixed;
    right:0;
    width:260px;
    height:100%;
    margin-right:-260px;
    overflow-x: hidden;
    overflow-y:auto;
    background:#41A1E1 url(../img/stripBG.png);
    z-index:99999999;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.sidebar-nav {
    position:absolute;
    width:250px;
    margin:0;
    padding:0;
    list-style:none;
}
.sidebar-nav li {
    text-indent:20px;
    line-height:40px;
    border-bottom:1px dotted rgba(255,255,255,0.27);
}
.sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#FFF;
    font-size:16px;
    padding:15px 15px;
}
.sidebar-nav li a:hover {
    text-decoration:none;
    color:#81F89D;
}
.sidebar-nav li a:active,.sidebar-nav li a:focus {
    text-decoration:none;
}
.sidebar-nav>.sidebar-brand {
    height:55px;
    font-size:18px;
    line-height:55px;
}
.sidebar-nav>.sidebar-brand a {
    color:#999;
}
.sidebar-nav>.sidebar-brand a:hover {
    color:#fff;
    background:none;
}
#sidebar-wrapper.active {
    right:250px;
    width:260px;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    box-shadow:0px 0px 15px rgba(0,0,0,0.49);
}
.toggle {
    margin:5px 5px 0 0;
}
.close-btn {
    display:block;
    color:#FFFFFF;
    font-size:1em;
    margin:0px 0 0 0;
    padding:2px 0 0 0;
    line-height:28px;
    text-align:right;
    width:100%;
    padding-right:25px;
    background:rgba(0,0,0,0.2);
}
.close-btn:hover {
    color:#84FFB0;
}
.close-btn i {
    font-size:1.8em;
    float:right;
    margin-left: 10px;
}


/* /////////////////////////////////////////////////////////////////////
// 03 - Preloader
/////////////////////////////////////////////////////////////////////*/

#preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../img/preloader.gif') no-repeat center center;
}


/* /////////////////////////////////////////////////////////////////////
// 04 - Header
/////////////////////////////////////////////////////////////////////*/

.sticky {
    position:fixed;
    width:100%;
    background:transparent;
    padding:30px 0px;
    transition:all 0.5s;
    z-index:99997;
}
.fixed {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#41A1E1;
    background-image:url(../img/stripBG.png);
    padding:0px;
}
.logo {
    color:#fff;
    font-size:2.5em;
    line-height:1.6;
}
#logo_menu {
    padding:5px 0px;
}
#menu-toggle {
    z-index:1;
    font-size:35px;
    float:right;
    border:1px solid #fff;
    color:#fff;
    margin:11px 0px;
    padding:2px 10px;
    line-height:0;
}
.store-btn-container {
    padding-top:15px;
}
.store-btn:hover,#menu-toggle:hover {
    background:#405162;
    border-color:#405162;
    color: #fff;
}


/* /////////////////////////////////////////////////////////////////////
// 05 - Banner
/////////////////////////////////////////////////////////////////////*/

#banner {
    background:url(../img/bg.jpg);
    background-size:cover;
    padding-top:80px;
    background-attachment:fixed;
    position:relative;
    overflow: hidden;
}
.banner-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #41A1E1;
    opacity: 0.8;
}
#banner video {
    position:absolute;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}
.headings {
    padding:25% 0 28% 0;
    color:#fff;
}
.headings h1 {
    font-size:75px;
    font-weight:100;
    margin-bottom:20px;
    color:white;
}
.headings p {
    font-size:18px;
    font-weight:100;
    margin-bottom:40px;
    letter-spacing:0.5px;
    line-height:28px;
}
.hand-container {
    max-height:630px;
    overflow:hidden;
}
.iphone-hand {
    padding:20px 30px 0px 30px;
}
.btn-store:hover {
    background:#405162;
    border-color:#405162;
    color:#fff;
}
.btn-store i {
    font-size:45px;
    float:left;
    margin:6px 15px -5px 15px;
}
.slidedown {
    font-size:50px;
    color:#fff;
    position:absolute;
    bottom:0%;
    left:50%;
    margin-left: -40.5px;
    z-index:99;
    cursor:pointer;
}
@media (max-width:1199px) {
    .hand-container {
        margin-top: 175px;
    }
}
@media (max-width: 767px) {
}



/* /////////////////////////////////////////////////////////////////////
// 06 - Video Preview
/////////////////////////////////////////////////////////////////////*/

#video,#features {
    background-color: #ffffff;
}
.embed-responsive {
    margin-bottom:25px;
}
.italic {
    font-style: italic;
}


/* /////////////////////////////////////////////////////////////////////
// 07 - Features
/////////////////////////////////////////////////////////////////////*/

.item-list-right li {
    padding:0 60px 20px 0;
    position:relative;
    text-align:right;
}
.item-list-right li i {
    font-size:32px;
    position:absolute;
    right:0;
    top:0;
}
.item-list-left li {
    padding:0 0px 20px 60px;
    position:relative;
    text-align:left;
}
.item-list-left li i {
    font-size:32px;
    position:absolute;
    left:0;
    top:0;
}
.item-list-right h3,.item-list-left h3 {
    margin:0 0 25px 0;
    font-weight:300;
}
.item-list-right.item-list-big li {
    padding:0 80px 60px 0;
}
.item-list-left.item-list-big li {
    padding:0 0px 60px 80px;
}
.item-list-big li i {
    font-size:48px;
}
.item-list-right li:last-child,.item-list-left li:last-child {
    padding-bottom:0;
}
#bigfeatures .screen {
    max-width:100%;
    height:auto;
}
#bigfeatures i {
    color:#41A1E1;
}
@media (max-width:1200px) and (min-width:767px) {
    #bigfeatures i {
        display:none;
    }
    .item-list-right.item-list-big li,.item-list-left.item-list-big li {
        padding:0 0px 40px 0px;
    }
}
@media (max-width:992px) and (min-width:767px) {
    .item-list-right.item-list-big li,.item-list-left.item-list-big li {
        font-size:14px;
    }
    .item-list-right h3,.item-list-left h3 {
        font-size:22px;
    }
    .item-list-right li:last-child,.item-list-left li:last-child {
        padding-bottom:0;
    }
}
@media all and (max-width:767px) {
    .item-list-right.item-list-big li {
        padding:0 0px 60px 80px;
        text-align:left;
    }
    .item-list-right li i {
        right:auto;
        left:0;
    }
    .item-list-left li:last-child {
        margin-bottom:60px;
    }
}
.animation-box {
    display:inline-block;
    position:relative;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity:0;
        top:100%;
        -webkit-transform:scale(0);
    }
    70% {
        opacity:1;
        -webkit-transform:scale(1);
    }
    100% {
        opacity:0;
        top:0;
        -webkit-transform:scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity:0;
        top:100%;
        transform:scale(0);
    }
    70% {
        opacity:1;
        transform:scale(1);
    }
    100% {
        opacity:0;
        top:0;
        transform:scale(0);
    }
}
.highlight-left {
    position:absolute;
    animation:highlight-left 2s ease-in 0s infinite;
    -webkit-animation:highlight-left 2s ease-in 0s infinite;
    left:-5px;
    margin-top:-100px;
}
@-webkit-keyframes highlight-right {
    0% {
        opacity:0;
        top:0;
        -webkit-transform:scale(0)
    }
    70% {
        opacity:1;
        -webkit-transform:scale(1)
    }
    100% {
        opacity:0;
        top:100%;
        -webkit-transform:scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity:0;
        top:0;
        transform:scale(0)
    }
    70% {
        opacity:1;
        transform:scale(1)
    }
    100% {
        opacity:0;
        top:100%;
        transform:scale(0)
    }
}
.highlight-right {
    position:absolute;
    animation:highlight-right 2s ease-in 0s infinite;
    -webkit-animation:highlight-right 2s ease-in 0s infinite;
    right:-5px;
    margin-top: -100px;
}



/* /////////////////////////////////////////////////////////////////////
// 08 - Speciality
/////////////////////////////////////////////////////////////////////*/

#features {
    background-color:#f8f8f8;
}
.feature-box {
    padding:30px 0px;
    text-align:center;
    max-width:360px;
    margin:0 auto;
}
.feature-box i {
    font-size:5em;
    line-height:0 !important;
    margin:0;
    padding:0;
    color:#41A1E1;
}
.feature-box p {
    padding:0px 20px;
}
.feature-box h2 {
    margin:0;
    padding:20px 0px;
    font-weight: 300;
}



/* /////////////////////////////////////////////////////////////////////
// 09 - Image-Content Blocks
/////////////////////////////////////////////////////////////////////*/

.phone-image {
    max-width:350px;
    margin:auto;
}
.feature-list {
    margin-top:40px;
}
.feature-list li {
    margin-bottom:26px;
}
.feature-list li i {
    color:#41A1E1;
    margin-right:10px;
    font-size:1.2em;
}
.mb50 {
    margin-bottom:50px;
}
#features-right-image {
    background-color: #f8f8f8;
}


/* /////////////////////////////////////////////////////////////////////
// 10 - Screenshots
/////////////////////////////////////////////////////////////////////*/

#gallery {

}
#screenshots .item {
    padding:0px 0px;
    margin:10px;
    color:#FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:center;
    display:block;
}
.customNavigation {
    text-align:center;
    margin-top:40px;
}

.customNavigation a {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.gallery-nav {
    color:#41A1E1;
    font-size:2em;
    margin:0 6px;
    padding:10px 19px;
    line-height:0;
    border:2px solid;
    border-radius:50%;
}
.gallery-nav:hover,.gallery-nav:focus,.gallery-nav:active {
    color:#fff;
    background:#405162;
    border-color: #405162;
}


/* /////////////////////////////////////////////////////////////////////
// 11 - Developers
/////////////////////////////////////////////////////////////////////*/

.border-img {
    position:relative;
}
.border-img .border {
    position:absolute;
    border:30px solid #fff;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    transition:border 0.4s;
    border-radius:100%;
}
.team-member:hover .border-img .border {
    border-width:0px;
}
.border-img img {
    border-radius:100%;
}
.team-social {
    margin:0;
    padding:8px 0px;
    list-style:none;
    text-align:center;
}
.team-social li {
    display:inline-block;
    font-size:22px;
    padding:0px 0px;
    color:#fff;
}
.team-social li a {
    display:inline-block;
}
.team-member {
    text-align:center;
    margin-bottom:40px;
    max-width:360px;
    margin:0 auto;
    margin-bottom:40px;
}
.team-member p {
    padding:10px 10px 15px 10px;
}
.team-member h2 {
    font-size:25px;
}
.team-social li a i {
    display:block;
    width:30px;
    height:30px;
    line-height:1.6;
    border-radius:50%;
    transition:0.5s ease all;
}
.facebook a i {
    color:#3B5998;
    border-color:#3B5998;
}
.facebook a i:hover {
    color:#fff;
    background-color:#3B5998;
}
.twitter a i {
    color:#41A1E1;
    border-color:#41A1E1;
}
.twitter a i:hover {
    color:#fff;
    background-color: #2A80BA;
}
.linkedin a i {
    color:#007bb6;
    border-color:#007bb6;
}
.linkedin a i:hover {
    color:#fff;
    background-color:#007bb6;
}
.gitlab a i {
    color:#444;
    border-color:#444;
}
.gitlab a i:hover {
    color:#fff;
    background-color: #444;
}
.instagram a i {
    color:#444;
    border-color:#444;
}
.instagram a i:hover {
    color:#fff;
    background-color: #444;
}
.youtube a i {
    color:#dd4b39;
    border-color:#dd4b39;
}
.youtube a i:hover {
    color:#fff;
    background-color:#dd4b39;
}


/* /////////////////////////////////////////////////////////////////////
// 12 - Testimonial
/////////////////////////////////////////////////////////////////////*/

#testimonial {
    background:url(../img/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
#review {
    text-align:center;
    color:#fff;
}
.review-star {
    font-size:30px;
    margin:10px 0;
}
.client-pic {
    padding:0em 2em;
    max-width:200px;
    margin:0 auto;
}
.client-pic img {
    border-radius:50%;
    border:2px solid white;
}
.review-desc {
    font-style:italic;
    letter-spacing:0.5px;
}
#testimonial .block-title {
    color:#fff;
}
#testimonial .block-title span {
    border-color: #fff;
}
p.client-name {
    font-size:1.5em;
    color:#fff;
    display:inline-block;
    border-bottom:2px solid rgba(255,255,255,0.3);
    padding-bottom:5px;
    font-weight:400;
}
.owl-theme .owl-controls .owl-page span {
    background: white;
}


/* /////////////////////////////////////////////////////////////////////
// 13 - Pricing table
/////////////////////////////////////////////////////////////////////*/

ul.pricing-table {
    display:block;
    width:100%;
}
ul.pricing-table:after {
    display:block;
    content:"";
    clear:both;
}
ul.pricing-table>li {
    display:block;
    position:relative;
    z-index:1;
    float:left;
    width:30.66666%;
    background:#fff;
    color:#444;
    margin:0 4% 0 0;
    padding:15px;
    text-align:center;
}
ul.pricing-table>li:last-child {
    margin-right:0;
}
ul.pricing-table .stamp {
    position:absolute;
    right:-20px;
    top:60px;
    height:80px;
    width:80px;
    padding:10px;
    border-radius:50%;
    overflow:hidden;
    font-size:12px;
    background:#fff;
    border:1px solid #eee;
    text-transform:uppercase;
    line-height:1;
    font-weight:bold;
    letter-spacing:0px;
}
ul.pricing-table .stamp i {
    display:block;
    padding:0 0 4px 0;
    font-size:27px;
}
ul.pricing-table h3 {
    display:block;
    padding:30px 5px 30px 5px;
    margin:0;
    border-radius:5px 5px 0 0;
    border-bottom:2px dotted #eee;
    color:#444;
}
ul.pricing-table li.silver h3 {
    background:#eee;
    color:#888;
    border-bottom:2px dotted #eee;
}
ul.pricing-table li.silver .stamp {
    color:#888;
    border:1px solid #888;
}
ul.pricing-table li.gold h3 {
    background:#fff29d;
    color:#a98815;
    border-bottom:2px dotted #fff29d;
}
ul.pricing-table li.gold .stamp {
    color:#a98815;
    border:1px solid #a98815;
    text-align:center;
}
ul.pricing-table span {
    display:block;
    font-size:40px;
    font-weight:bold;
    color:#222;
    padding:30px 0;
    line-height:1.3;
}
ul.pricing-table span small {
    font-size:14px;
    font-weight:normal;
    color:#ccc;
    display:block;
    line-height:1;
}
ul.pricing-table .benefits-list {
    margin:0 0 30px 0;
}
ul.pricing-table .benefits-list li {
    padding:5px 0;
}
ul.pricing-table .benefits-list li.not {
    text-decoration:line-through;
    color:#ddd;
}
ul.pricing-table a.buy {
    display:block;
    padding:15px;
    font-size:28px;
    background:#f2f2f2;
    border-radius:0 0 5px 5px;
    color:#444;
    text-align:center;
}
ul.pricing-table a.buy:hover .ion-ios-cart-outline:before {
    content: "\f3d6";
}
.bg-color-grad {
    background:#00aeff;
    background:-moz-linear-gradient(top,#00aeff 0%,#00e0a4 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00aeff),color-stop(100%,#00e0a4));
    background:-webkit-linear-gradient(top,#00aeff 0%,#00e0a4 100%);
    background:-o-linear-gradient(top,#00aeff 0%,#00e0a4 100%);
    background:-ms-linear-gradient(top,#00aeff 0%,#00e0a4 100%);
    background:linear-gradient(to bottom,#00aeff 0%,#00e0a4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeff',endColorstr='#00e0a4',GradientType=0 );
}

@media (max-width:767px) {
    ul.pricing-table>li {
        width:100%;
        margin: 0 0 20px 0;
    }
}


/* /////////////////////////////////////////////////////////////////////
// 14 - Subscribe Form
/////////////////////////////////////////////////////////////////////*/

#subscribe {
    background:url(../img/subs-bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border:80px solid #f8f8f8;
}
.susbcribe-text {
    text-align:center;
    font-size:24px;
    font-weight:100;
    padding-bottom:30px;
    line-height:40px;
}
.container.subscribe-wrap {
    max-width:600px;
}
.mailchimp input[type="email"] {
    font-size:20px;
    padding:15px 30px;
    height:auto;
    border:2px solid #41A1E1;
    border-radius:0px;
    box-shadow:none;
    background:transparent;
}
.btn-custom {
    padding:19px 15px;
    background:#41A1E1;
    box-shadow:none;
    border:2px solid #41A1E1;
    color:#FFF;
    border-radius:0px;
}
.subscribe-wrap .form-group {
    margin-right:-16px;
}
.subscription-error {
    color:#d9534f;
}
.subscription-success {
    color:#5cb85c;
}
#contactForm .success,#contactForm .error {
    display: none;
}


/* /////////////////////////////////////////////////////////////////////
// 15 - Contact us
/////////////////////////////////////////////////////////////////////*/


.address-list {
    list-style:none;
    display:table;
}

.address-list li i {
    display:table-cell;
    width:60px;
    font-size:3em;
}
.address-list li span {
    padding:0px 0px 0px 20px;
    display:table-cell;
    vertical-align:middle;
}
.mailbox .container {
    margin-top:225px;
    margin-bottom:0px;
}
#contactForm input,#contactForm textarea {
    border-radius:0px;
    box-shadow:none;
    border:2px solid #C2C2C2;
    font-size:18px;
}
#contactForm input:active,#contactForm textarea:active,#contactForm input:hover,#contactForm textarea:hover {
    border:2px solid #41A1E1;
}
#contactForm .form-control {
    padding:20px;
    height:auto;
}
#contactForm .form-group {
    margin-bottom:25px;
}
#contactForm #message {
    height:258px;
    padding-bottom:40px;
}
.contact-submit {
    width:160px;
    background:#fff;
    color:#41A1E1;
    border:2px solid #41A1E1;
    font-size:46px;
    padding:0;
    margin: -40px auto 0;
    display: block;
}
.contact-submit:hover {
    background:#41A1E1;
    color:#fff;
}
#contact {
    position:relative;
}
.contact-wrap {
    position:absolute;
    z-index:9999;
    color:#fff;
    width:100%;
    top:50px;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color:#6ecba9;
}
input:-moz-placeholder,textarea:-moz-placeholder {
    color: #6ecba9;
}


/*/////////////////////////////////////////////////////////////////////
// 16 - Footer Section
/////////////////////////////////////////////////////////////////////*/


#footer {
    background:#41A1E1;
    color:white;
    padding:40px 0;
}
#footer .credits a {
    color:#fff;
    text-decoration:underline;
}
ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
}
.copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
}
ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 40px;
    height: 40px;
    line-height: 45px;
}
ul.social-icons li a {
    display:block;
}
.footer-logo h1 {
    color: white;
}

/*


/////////////////////////////////////////////////////////////////////
// 17 - Responsive Styles
/////////////////////////////////////////////////////////////////////*/



@media all and (max-width:1340px) and (min-width:1170px)
{
    .address-list li {
        font-size:18px;
    }
    .address-list li i {
        width:60px;
        height:60px;
        font-size: 34px;
    }
}

@media all and (max-width:1170px) and (min-width:992px) {
    .address-list {
        padding:200px 0px 70px 0px;
    }
    .mailbox .container {
        margin-top:100px;
        height: auto;
    }
    .address-list {
        padding:0;
    }
    .address-list li {
        font-size:16px;
        padding:1em;
        display:inline-block;
    }
    .address-list li i {
        display:table-cell;
        line-height:42px;
        width:42px;
        height:40px;
        font-size: 18px;
    }
}

@media all and (max-width:1170px) {
    .mailbox .container {
        margin-top:130px;
        margin-bottom: 0px;
    }
}

@media all and (max-width:992px) {
    .headings {
        text-align:center;
        padding:10% 0 12% 0;
    }
    .block-title {
        font-size: 2.8em;
    }
    .col-md-offset-1point5{
        margin-left: 0;
    }
}

@media all and (max-width:767px) {
    .headings h1 {
        font-size:50px;
    }
    .block-title {
        font-size:1.8em;
        font-weight:500;
    }
    .phone-image {
        margin-bottom:40px;
    }
    .title-box {
        margin-bottom:40px;
    }
    .title-box.text-left {
        text-align:center;
    }
    .block {
        padding:60px 0;
    }
    #subscribe {
        border-width:15px;
    }
    .btn-custom {
        padding: 16px 5px !important;
    }
    .mailchimp input[type="email"] {
        font-size: 16px;
    }
    .address-list {
        margin: 0 auto 20px;
    }
}

@media all and (max-width:480px) {
    .btn-custom {
        padding: 5px 0px;
    }
}